.runner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container {
  display: flex;
  flex: 1;
  padding: 10px;
}

.code-input {
  flex: 1;
  display: flex;
}

textarea {
  flex: 1;
  padding: 10px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  color: black;
  overflow-y: auto; /* Aplicar scroll en caso de overflow vertical */
  margin-right: 10px; /* Espacio entre los textareas */
}

.output-container {
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.compile-button, .translate-button {
  padding: 10px 20px;
  margin: 0 5px; /* Espacio entre los botones */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.output-area {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 100px; /* Ajustar según sea necesario */
  overflow-y: auto; /* Aplicar scroll en caso de overflow vertical */
}

.line-numbers {
  width: 40px; /* Tamaño fijo para los números de línea */
  padding-right: 10px;
  text-align: right;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  color: white;
  overflow-y: auto; /* Aplicar scroll en caso de overflow vertical */
  height: 500px; /* Altura fija para los contenedores de los números de línea */
}

